.swiper {
    width: 100%;

}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.swiper.lum-slider-gallery__thumbs {
    display: none;
}

@media screen and (min-width: 1024px) {
    .swiper.lum-slider-gallery__thumbs {
        display: block;
    }
}

.lum-product-single {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    border-radius: 24px;
    @media screen and (min-width: 1024px) {
        border: 1px solid var(--lum-n-30);
    }
}

.lum-product-single__gallery {
    display: flex;
    flex-direction: column;
}

.lum-slider-gallery__main {
    position: relative;
}

.lum-slider-gallery__main-media,
.lum-slider-gallery__thumb-media {
    border: 1px solid var(--lum-n-30);
    border-radius: 16px;
    overflow: hidden;
}

.lum-slider-gallery__prev,
.lum-slider-gallery__next {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 1px solid var(--lum-n-30);
    border-radius: 48px;
    background: var(--lum-n-0);
    color: var(--lum-n-700);
    cursor: pointer;
    transform: translateY(-50%);
}


.lum-slider-gallery__actions {
    display: none;
}

@media screen and (min-width: 1024px) {
    .lum-slider-gallery__actions {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        gap: 16px;
        padding: 16px;

        color: var(--lum-n-900);
    }
}

.lum-slider-gallery__prev {
    left: 12px;
}

.lum-slider-gallery__next {
    right: 12px;
}

.lum-product-single__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 16px;
}

.lum-product-single__summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-inline: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--lum-n-30);
}

.lum-product-single__heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lum-product-single__heading-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lum-product-single__outline {
    max-width: 119px;
}

.lum-product-single__title-wrap {
    max-width: 600px;
}

.lum-product-single__title {
    margin: 0;
    color: var(--lum-n-1000);
    font-size: var(--lum-h-xs);
    font-weight: 700;
    line-height: 36px;
}

.lum-product-single__rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lum-product-single__rating-score {
    display: flex;
    align-items: center;
    gap: 4px;
}

.lum-product-single__rating-value-wrap,
.lum-product-single__rating-count-wrap {
    display: block;
}

.lum-product-single__rating-text {
    color: var(--lum-n-700);
    font-size: var(--lum-text-xs);
    font-weight: 500;
    line-height: 20px;
}

.lum-product-single__shipping {
    display: flex;
    gap: 8px;
    margin: 4px;
}

.lum-product-single__shipping-icon {
    color: var(--lum-n-500);
}

.lum-product-single__shipping-text {
    color: var(--lum-n-500);
    font-size: var(--lum-text-xs);
    font-weight: 500;
    line-height: 24px;
}

.lum-product-single__shipping-dot {
    display: flex;
    align-items: center;
}

.lum-product-single__options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 8px 16px;
}

.lum-product-option,
.lum-product-option__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lum-product-option__title {
    font-size: var(--lum-text-sm);
    font-weight: 700;
    line-height: 28px;
}

.lum-product-option__choices,
.lum-product-option__colors {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lum-product-option__choice {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 4px 16px;
    border: 1px solid var(--lum-n-30);
    border-radius: 8px;
}


.is-unavailable-card {
    color: var(--lum-n-60);
    background: var(--lum-n-20);
    border-color: var(--lum-n-30);
    text-decoration: line-through;

    img {
        filter: grayscale(1);
    }
}

.lum-product-option__choice:not(.is-unavailable-card):hover,
.lum-product-temperature__card:not(.is-unavailable-card):hover {
    border-color: var(--lum-primary);
    box-shadow: 0 0 0 2px rgba(21, 174, 92, 0.25);
}

.lum-product-option__choice-text {
    font-size: var(--lum-text-xxs);
    font-weight: 500;
    line-height: 20px;
}


.lum-product-option__see-all {
    color: var(--lum-primary);
    font-size: var(--lum-text-xs);
    font-weight: 500;
    line-height: 28px;
}

.lum-product-temperature__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
}

.lum-product-temperature__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--lum-n-30);
    border-radius: 8px;
}

.lum-product-temperature__media {
    width: 100%;
    flex: 1 1 0%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.lum-product-temperature__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lum-product-temperature__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 8px 8px;
}

.lum-product-temperature__value {
    font-size: var(--lum-text-xs);
    font-weight: 500;
    line-height: 24px;
}

.lum-product-temperature__name {
    color: var(--lum-n-100);
    font-size: var(--lum-text-xxs);
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;
}

.lum-product-base {
    position: relative;
}

.lum-product-base__label {
    display: block;
    margin-bottom: 8px;
    color: var(--lum-n-1000);
    font-size: var(--lum-text-lg);
    font-weight: 700;
    line-height: 24px;
}

.lum-product-base .lum-select__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    gap: 8px;
    padding: 10px 12px;
    border: 1px solid var(--lum-n-30);
    border-radius: 8px;
    background: var(--lum-n-0);
    color: var(--lum-n-1000);
    font-size: var(--lum-text-sm);
    line-height: 28px;
    text-align: left;
    cursor: pointer;
}

.lum-select__value {
    font-size: var(--lum-text-sm);
    font-weight: 500;
    line-height: 28px;
}

.lum-product-base .lum-select__icon {
    transform: rotate(-90deg);
    transition: transform 200ms;
}

.lum-product-base .lum-select__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    display: none;
    width: 100%;
    margin-top: 4px;
    overflow: hidden;
    border: 1px solid var(--lum-n-30);
    border-radius: 8px;
    background: var(--lum-n-0);
    box-shadow: 0 4px 12px rgba(9, 30, 66, 0.12);
}

.lum-product-base .lum-select__trigger[aria-expanded="true"] + .lum-select__menu {
    display: block;
}

.lum-product-base .lum-select__trigger[aria-expanded="true"] .lum-select__icon {
    transform: rotate(90deg);
}

.lum-product-base .lum-select__option {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 12px;
    border: 0;
    background: var(--lum-n-0);
    color: var(--lum-n-1000);
    font-size: var(--lum-text-sm);
    line-height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: var(--lum-text-xs);
    font-weight: 500;
    line-height: 20px;
}

.lum-product-base .lum-select__option:hover,
.lum-product-base .lum-select__option.is-selected {
    background: var(--lum-n-20);
}

.lum-featured-specifics {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lum-featured-specifics__header {
    display: flex;
    justify-content: space-between;
}

.lum-featured-specifics__title {
    font-size: var(--lum-text-lg);
    font-weight: 700;
    line-height: 32px;
}

.lum-featured-specifics__see-all {
    border: 0;
    background: transparent;
}

.lum-featured-specifics__see-all-text,
.lum-featured-specifics__see-all-icon {
    color: var(--lum-n-700);

}

.star-yellow {
    color: var(--lum-star);
}

.lum-featured-specifics__see-all-text {
    font-size: var(--lum-text-xs);
    font-weight: 500;
    line-height: 20px;
}

.lum-featured-specifics__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
}

.lum-featured-specifics__item {
    display: flex;
    flex-direction: column;
    height: 52px;
    gap: 4px;
    padding: 4px 12px;
    border: 1px solid var(--lum-n-30);
    border-radius: 8px;
}

.lum-featured-specifics__label,
.lum-featured-specifics__value {
    font-size: var(--lum-text-xs);
    line-height: 20px;
    white-space: nowrap;
}

.lum-featured-specifics__label {
    color: var(--lum-n-100);
    font-weight: 500;
}

.lum-featured-specifics__value {
    font-weight: 700;
}

.lum-product-purchase {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 16px;
    border-top: 1px solid var(--lum-n-30);
    background: var(--lum-n-0);
}

.lum-product-purchase__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.lum-product-purchase__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.lum-product-purchase__price {
    display: flex;
    gap: 8px;
}

.lum-product-purchase__price-text {
    font-size: var(--lum-h-lg);
    font-weight: 700;
    line-height: 40px;
}

.lum-product-purchase__offer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lum-product-purchase__actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lum-product-purchase__button-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (min-width: 1024px) {
    .lum-product-single {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lum-product-single__gallery {
        gap: 40px;
        padding: 40px;
    }

    .lum-slider-gallery__main-media {
        border: 0;
        border-radius: 0;
    }

    .lum-slider-gallery__prev,
    .lum-slider-gallery__next {
        display: flex;
    }

    .lum-product-single__details {
        padding-block: 40px;
        border-left: 1px solid var(--lum-n-30);
    }

    .lum-product-single__summary {
        gap: 16px;
        padding-inline: 40px;
        padding-bottom: 16px;
    }

    .lum-product-single__title {
        font-size: var(--lum-h-md);
        line-height: 56px;
    }

    .lum-product-single__shipping {
        margin-top: 4px;
    }

    .lum-product-single__shipping--mobile {
        display: none;
    }

    .lum-product-single__shipping-text {
        font-size: var(--lum-text-sm);
        line-height: 28px;
    }

    .lum-product-single__options {
        gap: 16px;
        padding: 16px 40px;
        border-bottom: 1px solid var(--lum-n-30);
    }

    .lum-product-option__choice-text {
        font-size: var(--lum-text-sm);
        line-height: 28px;
    }

    .lum-product-temperature__grid {
        gap: 12px;
    }

    .lum-product-temperature__value {
        font-size: var(--lum-text-sm);
        line-height: 28px;
    }

    .lum-product-temperature__name {
        font-size: var(--lum-text-xxs);
        line-height: 16px;
    }

    .lum-product-base {
        width: 320px;
    }

    .lum-featured-specifics__grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .lum-product-purchase {
        position: static;
        z-index: auto;
        padding: 24px 40px 0;
        border-top: 0;
    }

    .lum-product-purchase__inner,
    .lum-product-purchase__actions {
        gap: 16px;
    }

    .lum-product-purchase__header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .lum-product-option__title {
        font-size: var(--lum-text-lg);
        line-height: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .lum-product-temperature__grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}


.lum-product-content {
    margin-top: 24px;
}

.lum-product-content__main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.lum-product-tabs__nav {
    position: sticky;
    top: 0;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-inline: 24px;

    background: var(--lum-n-0);
    border-bottom: 1px solid var(--lum-n-30);
}


.lum-product-tabs__link {
    position: relative;
    font-size: var(--lum-text-lg);
    line-height: 32px;
    padding: 8px 16px;

    color: var(--lum-n-60);
}


.lum-product-tabs__section {
    border: 1px solid var(--lum-n-30);
    border-radius: 24px;
}


.lum-product-tabs__section-header {
    padding: 8px 24px;

    border-bottom: 1px solid var(--lum-n-30);
}


.lum-product-tabs__section-title {
    color: var(--lum-primary);
    font-weight: 700;
    font-size: var(--lum-text-lg);
    line-height: 32px;
}


/* Description */

.lum-product-description {
    display: flex;
    flex-direction: column;

    padding: 24px;
}


.lum-product-description__text {
    font-size: var(--lum-text-lg);
    line-height: 32px;
}


.lum-product-description__text.is-collapsed {
    display: -webkit-box;

    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.lum-product-description__toggle {
    display: flex;
    align-items: center;

    width: fit-content;

    margin-top: 8px;

    gap: 4px;

    color: var(--lum-primary);

    cursor: pointer;
    user-select: none;
}


.lum-product-description__toggle-text {
    color: var(--lum-primary);
}


.lum-product-description__toggle-icon {
    color: var(--lum-primary);

    transform: rotate(90deg);

    transition: transform 200ms;
}


/* Specifics */

.lum-product-specifics {
    padding: 16px;
}


.lum-product-specifics__wrapper,
.lum-product-specifics__list {
    display: flex;
    flex-direction: column;
}


.lum-product-specifics__row {
    display: flex;
    align-items: center;

    gap: 4px;

    padding-block: 8px;

    border-bottom: 1px solid var(--lum-n-30);
}


.lum-product-specifics__label {
    flex-shrink: 0;

    width: 168px;

    font-size: var(--lum-text-sm);
    font-weight: 500;
    line-height: 28px;
}


.lum-product-specifics__value {
    flex: 1;

    color: var(--lum-n-700);

    font-size: var(--lum-text-sm);
    font-weight: 500;
    line-height: 28px;
}


.lum-product-specifics__toggle {
    display: flex;
    align-items: center;

    width: fit-content;

    margin-top: 16px;

    gap: 8px;

    color: var(--lum-primary);

    cursor: pointer;
}


.lum-product-specifics__toggle-icon {
    transform: rotate(90deg);

    transition: transform 200ms;
}


/* Comments */

.lum-product-comments {
    padding: 16px;
}


/* Sticky Product Card */

.lum-product-sticky-card {
    display: none;

    width: 100%;
    max-height: 426px;

    padding: 40px;

    background: var(--lum-n-0);

    border: 1px solid var(--lum-n-30);
    border-radius: 24px;
}


.lum-product-sticky-card__inner {
    display: flex;
    flex-direction: column;

    gap: 16px;
}


.lum-product-sticky-card__product {
    display: flex;
    align-items: center;

    gap: 16px;
}


.lum-product-sticky-card__media {
    flex-shrink: 0;

    width: 120px;
    height: 120px;

    aspect-ratio: 1 / 1;
}


.lum-product-sticky-card__image {
    width: 100%;
    height: 100%;

    object-fit: contain;
}


.lum-product-sticky-card__title {
    font-size: var(--lum-text-lg);
    font-weight: 500;
    line-height: 36px;
}


.lum-product-sticky-card__content {
    display: flex;
    flex-direction: column;

    gap: 16px;
}


.lum-product-sticky-card__price {
    display: flex;

    gap: 8px;

    font-size: var(--lum-h-lg);
    font-weight: 700;
    line-height: 40px;
}


.lum-product-sticky-card__offer {
    display: flex;
    align-items: center;

    gap: 8px;
}


.lum-product-sticky-card__offer-text {
    color: var(--lum-n-700);

    font-size: var(--lum-text-sm);
    font-weight: 500;
    line-height: 28px;
}


.lum-product-sticky-card__separator {
    color: var(--lum-n-700);
}


.lum-product-sticky-card__button-content {
    display: flex;
    align-items: center;

    gap: 8px;
}
.lum-product-content {
    display: grid;
    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 400px;
        gap: 16px;
        margin-top: 40px;
    }
    @media screen and (min-width: 1280px) {
        grid-template-columns: 1fr 519px;
        gap: 40px;
    }
}

@media screen and (min-width: 1024px) {

    .lum-product-tabs__nav {
        justify-content: flex-start;
    }
    .lum-product-description__text {
        font-size: var(--lum-text-lg);
        line-height: 36px;
    }
    .lum-product-specifics {
        padding: 24px;
    }
    .lum-product-specifics__label {
        width: 192px;
        font-size: var(--lum-text-lg);
        font-weight: 700;
        line-height: 32px;
    }


    .lum-product-specifics__value {
        font-size: var(--lum-text-lg);
        line-height: 32px;
    }


    .lum-product-comments {
        padding: 24px;
    }


    .lum-product-sticky-card {
        display: block;

        grid-column: span 1 / span 1;
    }

}


.lum-product-tabs__link.is-active {
    color: var(--lum-primary);
}

.lum-product-tabs__link.is-active::after {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 0;
    height: 4px;
    padding: 0 8px;
    background: var(--lum-primary);
}


/* Description Show more */


.lum-product-description__toggle.is-expanded
.lum-product-description__toggle-icon {
    transform: rotate(-90deg);
}


/* Specifics Show more */

.lum-product-specifics__row.is-hidden {
    display: none;
}

.lum-product-specifics__toggle.is-hidden {
    display: none;
}


.lum-product-specifics__toggle.is-expanded
.lum-product-specifics__toggle-icon {
    transform: rotate(-90deg);
}


.lum-brands__products--single {
    margin-top: 24px;
    border: 1px solid var(--lum-n-30);
    border-radius: 16px;

    @media screen and (min-width: 1024px) {
        margin-top: 40px;
        padding: 40px;
    }
}





/* Block: Favorite Login */

.favorite-login {
    width: 100%;
}


/* Element: Intro */

.favorite-login__intro {
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorite-login__title {
    margin: 0 0 4px;
    font-size: var(--lum-text-lg);
    line-height: 32px;
    font-weight: 700;
    color: var(--lum-n-1000);
}

.favorite-login__description {
    font-size: var(--lum-text-sm);
    font-weight: 500;
    line-height: 28px;
    color: var(--lum-n-100);
}


/* Element: Terms */

.favorite-login__terms {
    margin: 32px 0 16px;
    text-align: center;
    font-size: var(--lum-text-xs);
    font-weight: 500;
    line-height: 20px;
    color: var(--lum-n-100);
}

.favorite-login__terms a {
    color: inherit;
    text-decoration: none;
}


/* Continue Button */


/* Element: Divider */

.favorite-login__divider {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 12px;

    margin: 12px 0;
}

.favorite-login__divider span {
    flex: 1;
    height: 1px;

    background: var(--lum-n-30);
}

.favorite-login__divider p {
    font-size: var(--lum-text-xs);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--lum-n-100);
}


/* Element: Shop Button */

.favorite-login__shop {
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    border: 1px solid var(--lum-n-30);
    border-radius: 8px;

    background: var(--lum-n-0);
    color: var(--lum-n-1000);

    font-family: inherit;
    font-size: var(--lum-text-lg);
    font-weight: 500;

    cursor: pointer;

    box-shadow: 0 1px 3px rgba(16, 24, 40, 0.06);
}


/* Element: Shop Icon */

.favorite-login__shop-icon {
    color: var(--lum-shop);

}

.favorite-login__shop-span {
    font-size: var(--lum-text-sm);
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.favorite-login__shop-icon::after {
    content: "";

    position: absolute;

    width: 8px;
    height: 8px;

    top: -6px;
    left: -4px;

    border-radius: 50%;

    background: var(--lum-shop-dot);
}

/* Element: Email Field */

.favorite-login__field {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Element: Label */

.favorite-login__label {
    display: block;
    margin-bottom: 8px;
    gap: 4px;
    font-size: var(--lum-text-xs);
    line-height: 18px;
    font-weight: 500;

    color: var(--lum-n-900);
}

.favorite-login__label span {
    color: var(--lum-primary);
    font-size: var(--lum-text-xxs);
    font-weight: 500;
    line-height: 20px;
}


/* Element: Input */

.favorite-login__input {
    width: 100%;
    height: 48px;

    box-sizing: border-box;

    padding: 10px 12px;

    border: 1px solid var(--lum-n-40);
    border-radius: 8px;
    outline: none;

    background: var(--lum-n-0);
    font-size: var(--lum-text-sm);
    font-weight: 500;
    line-height: 28px;

    transition: border-color 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.favorite-login-tabs .lum-tabs__list {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/* State: Placeholder */

.favorite-login__input::placeholder {
    color: var(--lum-n-100);
    opacity: 1;
}


/* State: Hover */

.favorite-login__input:hover:not(:disabled) {
    border-color: var(--lum-primary);
}


/* =========================
   Focus State
========================= */

.favorite-login__input:focus {
    border-color: var(--lum-success);

    box-shadow: 0 0 0 3px rgba(18, 183, 106, 0.14);
}


/* =========================
   Filled State
========================= */

.favorite-login__input:not(:placeholder-shown):not(:focus) {
    border-color: var(--lum-n-40);
    box-shadow: none;
}


/* =========================
   Error State
========================= */

.favorite-login__field.is-error .favorite-login__input {
    border-color: var(--lum-danger);
    box-shadow: none;
}

.favorite-login__field.is-error .favorite-login__input:focus {
    border-color: var(--lum-danger);

    box-shadow: 0 0 0 3px rgba(240, 68, 56, 0.10);
}


/* Element: Error Message */

.favorite-login__error {
    display: none;

    margin: 7px 0 0;

    font-size: var(--lum-text-xxs);
    line-height: 16px;
    font-weight: 400;

    color: var(--lum-danger);
}

.favorite-login__field.is-error .favorite-login__error {
    display: block;
}


/* =========================
   Disabled
========================= */

.favorite-login__input:disabled {
    background: var(--lum-n-10);
    border-color: var(--lum-n-30);

    color: var(--lum-n-70);

    cursor: not-allowed;
}

.favorite-login__input:disabled::placeholder {
    color: var(--lum-n-70);
}

/* Block: Favorite Verification */

.favorite-verify {
    width: 100%;
}


/* Element: Intro */


.favorite-verify__input:first-of-type {
    border-radius: 10px 0 0 10px;
}


.favorite-verify__input:last-of-type {
    border-radius: 0 10px 10px 0;
}


/* State: Focus */
.favorite-verify__input:focus {
    position: relative;
    z-index: 1;

    border-color: var(--lum-success);
    box-shadow: 0 0 0 3px rgba(18, 183, 106, 0.12);
}

/* Element: OTP Inputs */

.favorite-verify__code {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-bottom: 52px;
}

.favorite-verify__input {
    width: 40px;
    height: 40px;

    padding: 0;

    box-sizing: border-box;

    border: 1px solid var(--lum-n-30);
    border-radius: 10px;
    outline: none;

    text-align: center;

    font-family: inherit;
    font-size: var(--lum-text-sm);
    font-weight: 400;

    transition: border-color 0.2s ease,
    box-shadow 0.2s ease;
}


/* State: Hover */

.favorite-verify__input:hover {
    border-color: var(--lum-n-60);
}


.favorite-verify__input:focus {
    border-color: var(--lum-success);

    box-shadow: 0 0 0 3px rgba(18, 183, 106, 0.12);
}


/* Element: OTP Actions */

.favorite-verify__actions {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 32px;

    font-size: var(--lum-text-xxs);
    line-height: 20px;
}

.favorite-verify__resend {
    color: var(--lum-n-100);
}

.favorite-verify__edit-email-text {
    font-size: var(--lum-text-xxs);
    font-weight: 500;
    line-height: 20px;
}

.favorite-verify__timer {
    color: inherit;
}

.favorite-verify__dot {
    width: 4px;
    color: var(--lum-n-70);
}


/* Edit email */

.favorite-verify__edit {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 0;

    border: 0;
    outline: 0;

    background: transparent;
    color: var(--lum-info);

    font-family: inherit;
    font-size: var(--lum-text-sm);
    font-weight: 500;

    cursor: pointer;
}

.favorite-verify__edit:hover {
    text-decoration: underline;
}
.rate-review__comment {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.rate-review__comment-label {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: var(--lum-text-sm);
    line-height: 20px;
    font-weight: 500;
}


.rate-review__comment-label-text {
    color: var(--lum-n-1000);
}

.rate-review__comment-required {
    color: var(--lum-primary);
}
.rate-review__comment-textarea {
    display: block;
    width: 100%;
    height: 76px;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    border: 1px solid var(--lum-n-40);
    border-radius: 8px;
    outline: none;
    resize: none;
    background: var(--lum-n-0);
    color: var(--lum-n-100);
    font-family: inherit;
    font-size: var(--lum-text-sm);
    line-height: 20px;
    font-weight: 400;
}
.rate-review__comment-textarea::placeholder {
    color: var(--lum-n-100);
    opacity: 1;
}
.rate-review__comment-textarea:hover {
    border-color: var(--lum-n-60);
}
.share-drawer__link-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid var(--lum-n-30);
    border-radius: 8px;
    background: var(--lum-n-10);
}

.share-drawer__link {
    color: var(--lum-n-100);
    font-size: var(--lum-text-sm);
    font-weight: 400;
    line-height: 28px;
}

.share-drawer__copy-button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

/* Block: Color Filter */
.color-filter__selection {
    display: flex;
    gap: 8px;
}
.color-filter__selection-label,
.color-filter__selection-value {
    font-size: var(--lum-text-xs);
    line-height: 24px;
}
.color-filter__selection-label {
    font-weight: 700;
}
.color-filter__selection-value {
    font-weight: 500;
}
.color-filter__swatches {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 8px;
    margin-top: 8px;
}
.favorite-verify__terms {
    margin-top: 0;
    margin-bottom: 24px;
}